.u-section-1 .u-sheet-1 {
    min-height: 489px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    pointer-events: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 489px;
    pointer-events: auto;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .u-section-1 .u-image-1 {
    width: 233px;
    height: 256px;
    margin: -10px auto 0 385px;
  }
  
  .u-section-1 .u-text-1 {
    margin: 43px 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin: 12px 135px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 89px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 529px;
    }
  
    .u-section-1 .u-image-1 {
      height: 257px;
      margin-top: 0;
      margin-left: auto;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-top: 35px;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-top: 10px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-layout-cell-1 {
      min-height: 479px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-layout-cell-1 {
      min-height: 561px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 50px;
      padding-right: 50px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 12px;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 43px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-layout-cell-1 {
      min-height: 584px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 21px;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 34px;
      margin-right: -33px;
      margin-left: -26px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 708px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin: 60px auto 60px 0;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 588px;
  }
  
  .u-section-2 .u-group-1 {
    width: 484px;
    background-image: none;
    min-height: 494px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    animation-duration: 1000ms;
    margin: 34px 26px 0 auto;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-image-1 {
    width: 479px;
    height: 494px;
    animation-duration: 1000ms;
    margin: -60px -55px 0 auto;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 559px;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding-left: 85px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 191px 0 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 605px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 528px;
    }
  
    .u-section-2 .u-group-1 {
      width: 428px;
      min-height: 416px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-1 {
      width: 410px;
      height: 423px;
      margin-top: -67px;
      margin-right: auto;
      margin-left: -42px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 461px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 528px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-group-1 {
      width: 300px;
      min-height: 316px;
      margin-top: 0;
      margin-left: 20px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-bottom: 26px;
    }
  
    .u-section-2 .u-image-1 {
      width: 300px;
      height: 310px;
      margin-top: -50px;
      margin-left: -54px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 602px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 352px;
    }
  
    .u-section-2 .u-group-1 {
      width: 289px;
      min-height: 314px;
      margin-top: 38px;
      margin-right: 121px;
      margin-left: auto;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 4px;
    }
  
    .u-section-2 .u-image-1 {
      margin-right: -31px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 205px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
    }
  
    .u-section-2 .u-text-1 {
      width: auto;
      margin-top: 33px;
    }
  
    .u-section-2 .u-text-2 {
      width: auto;
      margin-top: 18px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 593px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-top: 10px;
      margin-bottom: 27px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-group-1 {
      width: 282px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-bottom: 24px;
    }
  
    .u-section-2 .u-image-1 {
      margin-right: -24px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 223px;
    }
  
    .u-section-2 .u-text-1 {
      margin-top: 0;
    }
  
    .u-section-2 .u-text-2 {
      margin-top: 10px;
    }
  }.u-section-3 .u-sheet-1 {
    min-height: 1320px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin: 60px auto 0 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 588px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding-left: 85px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .u-section-3 .u-text-1 {
    margin: 191px 0 0;
  }
  
  .u-section-3 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-3 .u-group-1 {
    width: 484px;
    background-image: none;
    min-height: 494px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    animation-duration: 1000ms;
    margin: 0 0 0 auto;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-3 .u-image-1 {
    width: 479px;
    height: 494px;
    animation-duration: 1000ms;
    margin: -60px -55px 0 auto;
  }
  
  .u-section-3 .u-text-3 {
    margin: 16px 515px 0;
  }
  
  .u-section-3 .u-gallery-1 {
    height: 591px;
    margin: 26px 0 0;
  }
  
  .u-section-3 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
  }
  
  .u-section-3 .u-carousel-item-1 {
    margin-right: 10px;
  }
  
  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-3 .u-carousel-item-2 {
    margin-right: 10px;
  }
  
  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-3 .u-carousel-item-3 {
    margin-right: 10px;
  }
  
  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-3 .u-carousel-control-1 {
    position: absolute;
    left: 24px;
    width: 40px;
    height: 40px;
    top: 256px;
    right: auto;
  }
  
  .u-section-3 .u-carousel-control-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    top: 256px;
    right: 30px;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1217px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 485px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 554px;
    }
  
    .u-section-3 .u-group-1 {
      width: 440px;
      min-height: 426px;
      margin-right: -30px;
    }
  
    .u-section-3 .u-image-1 {
      width: 410px;
      height: 423px;
      margin-top: -57px;
      margin-right: -30px;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 415px;
      margin-left: 415px;
    }
  
    .u-section-3 .u-gallery-1 {
      margin-right: initial;
      margin-left: initial;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 832px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 30px;
    }
  
    .u-section-3 .u-group-1 {
      width: 311px;
      min-height: 323px;
      margin-right: auto;
      margin-left: -11px;
    }
  
    .u-section-3 .u-image-1 {
      width: 300px;
      height: 310px;
      margin-top: -47px;
      margin-right: -50px;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 305px;
      margin-left: 305px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-layout-cell-1 {
      min-height: 136px;
      order: 1;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
    }
  
    .u-section-3 .u-text-1 {
      width: auto;
      margin-top: 15px;
    }
  
    .u-section-3 .u-text-2 {
      width: auto;
    }
  
    .u-section-3 .u-layout-cell-2 {
      order: 0;
      min-height: 401px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-group-1 {
      width: 301px;
      min-height: 301px;
      margin-top: 30px;
      margin-left: auto;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 11px;
    }
  
    .u-section-3 .u-image-1 {
      height: 290px;
      width: 288px;
      margin-top: -56px;
      margin-right: auto;
      margin-left: -23px;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 215px;
      margin-left: 215px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 991px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 177px;
    }
  
    .u-section-3 .u-text-1 {
      margin-top: 0;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 363px;
    }
  
    .u-section-3 .u-group-1 {
      min-height: 305px;
      width: 300px;
      margin-top: 0;
      margin-right: 0;
      margin-left: 20px;
    }
  
    .u-section-3 .u-image-1 {
      margin-top: -46px;
      margin-right: -14px;
      margin-left: auto;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 115px;
      margin-left: 115px;
    }
  
    .u-section-3 .u-gallery-1 {
      height: 321px;
      margin-right: initial;
      margin-left: initial;
    }
  }.u-section-4 .u-sheet-1 {
    min-height: 612px;
  }
  
  .u-section-4 .u-text-1 {
    width: 275px;
    margin: 56px auto 0;
  }
  
  .u-section-4 .u-tabs-1 {
    min-height: 480px;
    margin: 37px 0 0;
  }
  
  .u-section-4 .u-tab-item-1 {
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: 0;
  }
  
  .u-section-4 .u-tab-link-1 {
    font-size: 1.25rem;
    background-image: none;
    font-weight: 600;
    padding: 10px 25px;
  }
  
  .u-section-4 .u-tab-link-2 {
    font-size: 1.25rem;
    background-image: none;
    font-weight: 600;
    padding: 10px 25px;
  }
  
  .u-section-4 .u-tab-pane-1 {
    margin-left: 0;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-4 .u-image-1 {
    width: 420px;
    height: 367px;
    animation-duration: 1000ms;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-text-2 {
    margin: -343px 0 0 444px;
  }
  
  .u-section-4 .u-text-3 {
    margin: 10px 0 0 444px;
  }
  
  .u-section-4 .u-text-4 {
    line-height: 1.8;
    margin: 12px 0 0 444px;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-4 .u-image-2 {
    width: 420px;
    height: 367px;
    animation-duration: 1000ms;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-text-5 {
    margin: -343px 0 0 444px;
  }
  
  .u-section-4 .u-text-6 {
    margin: 10px 0 0 444px;
  }
  
  .u-section-4 .u-text-7 {
    line-height: 1.8;
    margin: 12px 0 0 444px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-tabs-1 {
      height: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-text-2 {
      width: auto;
      margin-top: -319px;
    }
  
    .u-section-4 .u-text-3 {
      width: auto;
    }
  
    .u-section-4 .u-text-4 {
      width: auto;
    }
  
    .u-section-4 .u-text-5 {
      width: auto;
      margin-top: -319px;
    }
  
    .u-section-4 .u-text-6 {
      width: auto;
    }
  
    .u-section-4 .u-text-7 {
      width: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-tabs-1 {
      margin-bottom: 34px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-image-1 {
      width: 303px;
      height: 377px;
    }
  
    .u-section-4 .u-text-2 {
      margin-top: -353px;
      margin-left: 328px;
    }
  
    .u-section-4 .u-text-3 {
      margin-left: 328px;
    }
  
    .u-section-4 .u-text-4 {
      margin-top: 9px;
      margin-right: -2px;
      margin-left: 326px;
    }
  
    .u-section-4 .u-image-2 {
      width: 303px;
      height: 377px;
    }
  
    .u-section-4 .u-text-5 {
      margin-top: -353px;
      margin-left: 328px;
    }
  
    .u-section-4 .u-text-6 {
      margin-left: 328px;
    }
  
    .u-section-4 .u-text-7 {
      margin-top: 9px;
      margin-right: -2px;
      margin-left: 326px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-tabs-1 {
      min-height: 643px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-image-1 {
      width: 468px;
      height: 217px;
      margin-left: auto;
    }
  
    .u-section-4 .u-text-2 {
      margin-top: 31px;
      margin-right: 178px;
      margin-left: 12px;
    }
  
    .u-section-4 .u-text-3 {
      margin-right: 91px;
      margin-left: 12px;
    }
  
    .u-section-4 .u-text-4 {
      margin-left: 12px;
      margin-right: 12px;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-image-2 {
      width: 468px;
      height: 217px;
      margin-left: auto;
    }
  
    .u-section-4 .u-text-5 {
      margin-top: 31px;
      margin-right: 178px;
      margin-left: 12px;
    }
  
    .u-section-4 .u-text-6 {
      margin-right: 91px;
      margin-left: 12px;
    }
  
    .u-section-4 .u-text-7 {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-image-1 {
      height: 226px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-text-2 {
      margin-top: 29px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-3 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-4 {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-image-2 {
      height: 226px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-text-5 {
      margin-top: 29px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-6 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-7 {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }.u-section-5 .u-sheet-1 {
    min-height: 614px;
  }
  
  .u-section-5 .u-text-1 {
    width: 550px;
    font-weight: 700;
    margin: 43px auto 0;
  }
  
  .u-section-5 .u-text-2 {
    width: 785px;
    margin: 25px auto 0;
  }
  
  .u-section-5 .u-form-1 {
    height: 347px;
    width: 570px;
    margin: 60px auto;
  }
  
  .u-section-5 .u-input-1 {
    text-transform: uppercase;
    background-image: none;
  }
  
  .u-section-5 .u-input-2 {
    text-transform: uppercase;
    background-image: none;
  }
  
  .u-section-5 .u-input-3 {
    text-transform: uppercase;
    background-image: none;
  }
  
  .u-section-5 .u-btn-1 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-text-2 {
      width: 550px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-text-1 {
      width: 540px;
    }
  
    .u-section-5 .u-text-2 {
      width: 540px;
    }
  
    .u-section-5 .u-form-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-text-1 {
      width: 340px;
    }
  
    .u-section-5 .u-text-2 {
      width: 340px;
    }
  
    .u-section-5 .u-form-1 {
      width: 340px;
    }
  }